body {
    background-color: black;
}

h1 {
   color: aqua; 
   font-family: 'Playfair Display', serif;
   font-weight: bold;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: azure;
}